.app-header {
	margin-bottom: 20px;
	height: rem(80px);

	.content {
		width: 90%;
		justify-content: space-between;
		align-items: center;
		margin: auto;

		a {
			font-size: 20px;
		}

		// a.active {
		// 	color: $clr3;
		// }
		.logo {
			font-weight: 800;
			justify-content: center;
			align-items: center;

			span {
				width: 100px;
			}
		}

		.main-nav > * {
			margin-left: 10px;
		}
	}
}
