.app-footer {
	background-color: $clr1;
	color: $clr2;
	height: 15rem;
	margin-top: 7rem;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;

	.logo {
		font-weight: 800;
		margin-bottom: 3rem;
		font-size: 25px;
	}

	svg {
		filter: invert(100%) sepia(11%) saturate(1080%) hue-rotate(232deg)
			brightness(119%) contrast(100%);
		width: 30px;
		margin-right: 10px;
		cursor: pointer;
	}
}
