.app-header {
	margin-bottom: 20px;
	height: rem(80px);

	.content {
		width: 90%;
		justify-content: space-between;
		align-items: center;
		margin: auto;

		a {
			font-size: 20px;
			padding: 1rem;

			&.active {
				border-bottom: 2px solid $clr5;
			}
		}

		.logo {
			font-weight: 800;
			justify-content: center;
			align-items: center;
			font-size: 25px;

			span {
				width: 100px;
			}
		}

		.main-nav {
			justify-content: space-between;
			align-items: center;

			& > * {
				margin-left: 10px;
			}
			.user-btn {
				width: 20px;
			}
		}
	}
}
