.toy-preview {
	background-color: $clr2;
	border-radius: $radius;
	box-shadow: 0 0 3px 0px #79737380;

	flex-direction: column;
	overflow-y: hidden;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;

	.info {
		padding: rem(10px);
		flex-grow: 1;

		justify-content: center;
		align-items: center;
		flex-direction: column;

		img {
			height: 160px;
			margin-bottom: 25px;
		}
	}

	.actions {
		height: 25%;
		justify-content: space-between;
		align-items: center;
		background-color: rgb(182 177 177 / 43%);
		transform: translateY(100%);
		transition: transform 0.3s;

		.btn {
			padding: 5px 15px;
			@include app-btn($clr3);
		}
	}

	&:hover .actions {
		transform: translateY(-50%);
	}

	&:hover {
		box-shadow: 0 0 0 2px black;
	}
}
