.toy-preview {
	background-color: $clr2;
	border-radius: $radius;
	box-shadow: 0 0 3px 0px #79737380;

	position: relative;
	flex-direction: column;
	overflow-y: hidden;

	.wishlist-btn {
		position: absolute;
		width: 7%;
		top: 10px;
		left: 10px;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			width: 9%;
		}
	}

	.info {
		padding: rem(10px);
		flex-grow: 1;

		justify-content: center;
		align-items: center;
		flex-direction: column;

		img {
			height: 130px;
			margin-bottom: 25px;
			@include from-mobile-layout {
				height: 150px;
			}
		}
	}

	.actions {
		height: 25%;
		justify-content: space-between;
		align-items: center;

		@include from-mobile-layout {
			transform: translateY(100%);
			transition: transform 0.3s;
		}

		.btn {
			@include app-btn($clr3);
			padding: 5px 15px;

			&.add-cart {
				width: 100%;
				text-align: center;
			}
		}
	}

	&:hover .actions {
		@include from-mobile-layout {
			transform: translateY(-30%);
		}
	}

	&:hover {
		box-shadow: 0 0 0 2px black;
	}
}
