.home-page {
	height: 80vh;

	.hero {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.hero-img {
			height: 400px;
			width: 100%;

			@include from-mobile-layout {
				height: 500px;
			}
		}

		.hero-content {
			margin: 1rem;
			text-align: center;

			.logo {
				font-weight: 800;
				font-size: 25px;
			}

			.btns-container {
				justify-content: center;
				align-items: center;

				.btn {
					@include app-btn($clr5);
					padding: 0.5rem 1rem;
					margin: 5px;
					font-weight: 700;
				}
			}
		}
	}
}
