.home-page {
	height: 80vh;
	width: 90%;
	margin: auto;

	.hero {
		@include content-container();
		background-image: url('../../imgs/toy-car.svg');
		background-repeat: no-repeat;
		background-size: 900px;
		background-position: right -147px bottom;

		color: $clr2;
		-webkit-text-stroke: 1px black;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: 100%;

		@include from-narrow-layout() {
			background-position: right bottom;
		}
		@include from-narrow-layout() {
			background-position: right bottom;
		}

		.hero-content {
			width: 50%;

			margin-left: 1rem;

			.text {
				margin-bottom: 10%;
				font-size: large;
			}

			h1,
			h3 {
				font-weight: 800;
			}
		}
	}

	.start-btn {
		@include app-btn($clr6);
		padding: 1rem;
		font-weight: 700;
		color: $clr1;
	}
}
