.toy-app {
	height: 85vh;
	.content-container {
		flex-direction: column;
		justify-content: space-between;

		width: 90%;
		height: 100%;
		margin: auto;

		.search-container {
			@include from-mobile-layout {
				display: none;
			}

			.search-filters {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				label {
					h3 {
						display: none;
						@include from-mobile-layout {
							display: none;
						}
					}

					input {
						@include content-container;
						width: 100%;
						margin: 5px 0;
					}
				}
			}
		}

		.main-content {
			width: 100%;
			overflow-x: hidden;
			overflow-y: hidden;
			position: relative;
			flex-direction: column;
			flex-grow: 1;

			@include from-mobile-layout() {
				flex-direction: row;
			}
		}
	}
}
