.user-details {
	width: 90%;
	min-height: 80vh;
	margin: auto;
	flex-direction: column;
	justify-content: space-between;

	& > * {
		margin-bottom: 1rem;
	}

	.header {
		justify-content: space-between;
		align-items: center;

		.user-nav > * {
			margin-right: 1rem;
		}
	}

	a.active {
		color: $clr6;
		font-weight: 700;
	}

	.empty {
		h1 {
			font-size: 5rem;
			font-weight: 700;
			color: lightgray;
		}
	}

	.title {
		font-size: 2rem;
		font-weight: 700;
	}

	.toy-list {
		width: 100%;
		height: 500px;
		border: none;
	}

	.logout-btn {
		@include app-btn($clr3);
		padding: 1rem;
		width: 20%;
		font-weight: 700;
		text-align: center;
	}

	.wishlist-container,
	.cart-container,
	.profile-container {
		@include content-container();
		flex-grow: 1;

		h2 {
			margin-bottom: 1rem;
		}
	}
}
